<div class="map-component">
  <img src="assets/images/desk.svg" alt="ICO office map" class="map-img" />
  <button
    type="button"
    class="desk A-area"
    style="top: 20%; left: 36%"
    (click)="selectDesk('A1')"
    [class.selected]="isSelected('A1')"
  >
    A1
  </button>

  <button
    type="button"
    class="desk A-area"
    style="top: 20%; left: 39.2%"
    (click)="selectDesk('A2')"
    [class.selected]="isSelected('A2')"
  >
    A2
  </button>

  <button
    type="button"
    class="desk A-area"
    style="top: 29.5%; left: 36%"
    (click)="selectDesk('A3')"
    [class.selected]="isSelected('A3')"
  >
    A3
  </button>

  <button
    type="button"
    class="desk A-area"
    style="top: 29.5%; left: 39.2%"
    (click)="selectDesk('A4')"
    [class.selected]="isSelected('A4')"
  >
    A4
  </button>

  <button
    type="button"
    class="desk B-area"
    style="top: 20%; left: 46%"
    (click)="selectDesk('B1')"
    [class.selected]="isSelected('B1')"
  >
    B1
  </button>

  <button
    type="button"
    class="desk B-area"
    style="top: 20%; left: 49.2%"
    (click)="selectDesk('B2')"
    [class.selected]="isSelected('B2')"
  >
    B2
  </button>

  <button
    type="button"
    class="desk B-area"
    style="top: 29.5%; left: 46%"
    (click)="selectDesk('B3')"
    [class.selected]="isSelected('B3')"
  >
    B3
  </button>

  <button
    type="button"
    class="desk B-area"
    style="top: 29.5%; left: 49.2%"
    (click)="selectDesk('B4')"
    [class.selected]="isSelected('B4')"
  >
    B4
  </button>

  <button
    type="button"
    class="desk C-area"
    style="top: 20%; left: 56%"
    (click)="selectDesk('C1')"
    [class.selected]="isSelected('C1')"
  >
    C1
  </button>

  <button
    type="button"
    class="desk C-area"
    style="top: 20%; left: 59.2%"
    (click)="selectDesk('C2')"
    [class.selected]="isSelected('C2')"
  >
    C2
  </button>

  <button
    type="button"
    class="desk C-area"
    style="top: 29.5%; left: 56%"
    (click)="selectDesk('C3')"
    [class.selected]="isSelected('C3')"
  >
    C3
  </button>

  <button
    type="button"
    class="desk C-area"
    style="top: 29.5%; left: 59.2%"
    (click)="selectDesk('C4')"
    [class.selected]="isSelected('C4')"
  >
    C4
  </button>

  <button
    type="button"
    class="desk D-area"
    style="top: 20%; left: 65%"
    (click)="selectDesk('D1')"
    [class.selected]="selectedDesk === 'D1'"
  >
    D1
  </button>

  <button
    type="button"
    class="desk D-area"
    style="top: 20%; left: 68.2%"
    (click)="selectDesk('D2')"
    [class.selected]="isSelected('D2')"
  >
    D2
  </button>

  <button
    type="button"
    class="desk D-area"
    style="top: 29.5%; left: 65%"
    (click)="selectDesk('D3')"
    [class.selected]="isSelected('D3')"
  >
    D3
  </button>

  <button
    type="button"
    class="desk D-area"
    style="top: 29.5%; left: 68.2%"
    (click)="selectDesk('D4')"
    [class.selected]="isSelected('D4')"
  >
    D4
  </button>
</div>
