.main {
  width: 100%;
  min-height: 100vh;
  background-color: #f7f4f4;
  overflow-x: hidden;

  .main-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .header {
      height: 3.375rem;
      position: sticky;
    }

    .content {
      height: calc(100vh - 3.375rem);
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
}
