.o-minimal-header {
  display: flex;
  background-color: #ffffff;

  .o-minimal-header__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    border-bottom: none;
    box-shadow: rgba(149, 157, 165, 0.616) 0 8px 24px;

    .header_title {
      font-size: 1.25rem;
      font-weight: 700;
    }

    .o-minimal-header__logo {
      padding: 0.75rem 0rem 0.75rem 1rem;
    }
  }
}
